.marker {
    position: absolute;
    width: 30px;
    z-index: 10;
    filter: drop-shadow(0px 5px 10px rgba(255, 255, 0, 0.5));
}

.marker:hover {
    filter: drop-shadow(0px 5px 5px #ff0);
}

.flex {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.sidebar {
    margin: 0 30px;
}

.form-sidebar {
    width: 20%;
}

.form-group {
    margin: 10px 0;
}

.form-group label {
    display: inline-block;
    margin-bottom: 10px;
}

.submit-button {
    margin: 10px;
    width: 50%;
}

.required {
    color: red;
}

.name-input, .desc-input {
    width: 100%;
}

.map-wrapper {
    position: relative;
}

.map {
    box-shadow: 0px 9px 15px -9px rgba(0, 0, 0, 0.75);
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
}

.error-container {
    max-width: 100%;
    margin: 10px 0;
}

.invitation {
    font-size: larger;
    color: green;
}

.hidden {
    display: none;
}